@page "/ShoppingCart"
@inherits ShoppingCartBase

@if(ShoppingCartItems == null && ErrorMessenger == null)
{
    <DisplaySpinner/>
}
else if(ErrorMessenger != null)
{
    <DisplayError ErrorMessenger = "@ErrorMessenger"/>
}
else
{
    <h3 class="mb-5">Shopping Cart</h3>
    <div class="row mb-5">
        <div class="col-md-9">
            @foreach (var item in ShoppingCartItems)
           {
               <div class="row mb-4">
                    <div class="col-md-4">
                        <img src="@item.ProductImagURL" width="300" class="img-thumbnail">
                    </div>   
                    <div class="col-md-8">
                        <h5>@item.ProductName</h5>
                        <div class="mb-4">@item.ProductDescription</div>
                        <span>
                            Price: &#36; <b>@item.Price.ToString()</b>
                            <input type="number" @bind="@item.Qty">
                            <button class="btn btn-info"
                                @onclick="(() => UpdateQtyCartItem_Click(item.Id, item.Qty))">
                                Update Qty
                            </button>
                        </span>
                        <div>
                            <button @onclick ="(() => DeleteItem_Click(item.Id))"
                                class="btn btn-danger sm"><i class="bi bi-trash-fill"></i>
                            </button>
                        </div>
                    </div>
               </div>
           }
        </div>
    </div>
}
